body {
  font-family: "Microsoft Yahei";
  font-size: 12px;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6, li, ul, dl, dt, dd {
  padding: 0;
  margin: 0;
}

ul{
  list-style-type: none;
}

#root{
  background: url("../assets/images/backImg.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}